
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

:root{
    --skill-img:#F9FAFB;
    --base-clr:#6C63FF;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.nav{
    text-decoration: none;
    padding: 0px 8px;
    color: white;
}
.navbar{
    overflow: hidden;
    position: fixed;
    right: 0;
    top:0;
    background-color: var(--base-clr);
    width:100%;
}

.navbar-ul{
    float:right;
}

.nav-list{
    list-style-type:none;
    display: inline;
}

nav ul li a:hover{
    text-decoration: underline;
}

.first-section{
    margin-top: 6rem;
}

.dev-img{
    height: 250px; 
    width:250px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.dev-title{
    text-align: center;
    font-size: 26px;
}

.dev-title-mini{
    color:var(--base-clr);text-align: center;
}


.next-section{
    margin: 4rem 0rem;
}

.left-space{
    margin-left:100px;
    margin-right: 100px;
}

.education-img{
    height:50px;
    width:50px;
    display: block;
    margin:auto;
}

.education-list{
    list-style-type: none;
    display: inline-block;
    max-width: 500px;
    display:block;margin:auto;
}

.education-text{
    text-align: center;
}

.education-text-mini{
    font-size:14px;
    text-align: center;
}

.skill-img{
    height:150px;
    width:150px;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.skills-list{
    list-style-type: none;
    display: inline-block;
    width:400px;
    padding-bottom: 3rem;
}
.skills-list-img{
    display:block;margin:auto;
}

.skill-img-color{
    background-color: var(--skill-img);
}

.social-link{
    text-decoration: none;
    background-color: var(--base-clr);
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
}

footer a:hover{
    text-decoration: underline;
}

